<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Instagram Profile</title>
    <style>
        .img-rounded {
            border-radius: 10px;
        }
    </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="https://bitlee.info/inner/images/instagram-clone-banner.png" alt="Logo" style="width: 40px;">
        InstaClone
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">

            <% if(isLoggedIn){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/posts/form">Add Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
             <% } else{ %>  
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
              <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
        
          
        </ul>
        <form action="/search" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="search" name="search" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
    
    <div class="container-fluid mt-5">
        <div class="card">
            <div class="card-body">
            
     
              <h1>User Registration</h1>
     
              <form action="#" method="POST">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control col-lg-9" id="name"  placeholder="Enter first name" name="name">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control col-lg-9" id="email"  name="email" placeholder="Enter email">
                </div>  
                <div class="form-group">
                    <label for="description">description</label>
                    <input type="text" class="form-control col-lg-9" id="description"  name="description" placeholder="Enter description">
                  </div> 
                  <div class="form-group">
                    <label for="picture">picture url</label>
                    <input type="text" class="form-control col-lg-9" id="picture"  name="picture" placeholder="Enter picture url">
                  </div>    
                  <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control col-lg-9" id="password"  name="password" placeholder="Enter password">
                  </div>        
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
      </div>
            
        </body>
    </div>
    <footer class="bg-light py-3">
        <div class="container">
            <p class="text-center">Copyright © Instagram 2021</p>
        </div>
    </footer>
</body>
</html>
